.input-box {
    background-color: #DCF2F1;
    font-size: 14px;
    height: 18px;
    border-radius: 6px;
    width: 100%;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 24px;
}

.input-text-area {
    height: 100px;
}

.new-post-label {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
