.main-container {
    background-color: #0F1035;
    width: 70%;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}